<div class="row">
  <div id="baner1">
    <h1>Los mejores restaurante de comida {{resTipo1}}</h1>
  </div>
</div>

<div class="container">
  <h2>Restaurantes:</h2>
  <div class="row borde" *ngFor="let item of datosRes">
    <div class="col" id="infoRes">
      <h3 #nombreR >{{item.nombreRestaurante}}</h3>
      <dl>Dirección:</dl>
      <dd>
        {{item.direccion.calle}},{{item.direccion.colonia}},{{item.direccion.numero}},{{item.direccion.codigoPost}},{{item.direccion.delegacion}}
      </dd>
    </div>
    <div class="col botones" align="center">
      <p><a class="btn btn-primary" [routerLink]="['/menuRes']" (click)="nombreResFun(nombreR)">Ver Menú</a> </p>
    </div>
    <div class="col botones" align="center">
      <p ><a class="btn btn-primary" [routerLink]="['/reservacion']" (click)="nombreResFun(nombreR)">Hacer una Reservación</a> </p>
    </div>
    <hr>
    <hr >

  </div>
</div>
