<div class="row">
  <div id="baner1">
    <h1>Bienvenido a {{menR}}</h1>
  </div>
</div>
<div class="container mainC">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let item of menu;">
      <ng-template ngbPanelTitle>
        <span>{{item.nombreCat}}</span>
      </ng-template>
      <ng-template ngbPanelContent>
          <div class="row" *ngFor="let plat of item.platillo">
            <div class="col">
              <h3>{{ plat.nombrePlatillo }}</h3>
              <dd>{{ plat.descriPlatillo }}</dd>
            </div>
            <div class="col">
              <h3>{{ plat.precioPlatillo }}</h3>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-lg" (click)="platilloSeleccionado(plat)">Añadir</button>
            </div>
          </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <button type="button" class="btn btn-info btn-block" (click)="verCuenta(content)">Ver Cuenta</button>
</div>



<!-- popup de cnfrmacion-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Gracias por comprar en {{menR}} tu cuenta es:</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <thead>
        <tr>
          <th scope="col">Platillo</th>
          <th scope="col">Precio $</th>
        </tr>
      </thead>
      <tbody *ngFor="let plt of carro">
        <tr>
          <th><dd>{{plt.nombrePlatillo}}</dd></th>
          <th><dd>{{plt.precioPlatillo}}</dd></th>
        </tr>

      </tbody>
      <h5>Total de : {{total}}</h5>
    </table>
    <p>Se enviara a la siguitene poscisión:</p>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <h3><strong>Hola!!</strong></h3>
          <p>Tu estas aqui!!</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info btn-block" (click)="c('Close click')">Cerrar</button>
    <button type="button" class="btn btn-info btn-block" (click)="confirmar()">Confirmar</button>
  </div>
</ng-template>
