.bg-log
{
    background-image: url("login.jpg");

    background-position: center;

}

.bg-reg
{
    background-image: url("registro.jpg");

    background-position: center;

}

.bg-menu
{
  background-image: url("/assets/images/menu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:700px;
}
