


<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/dino-nav.jpg" alt="Logo" style="width:40px;" />
    </a>
    <button class="btn btn-success ml-auto" disabled></button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav text-right">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!authService.loggedIn()" [routerLink]="['login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  *ngIf="!authService.loggedIn()" [routerLink]="['register']">Registrate</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <a class="nav-link" (click)="onLogoutClick()" href="#">Salir</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <a class="nav-link"  [routerLink]="['profile']">Perfil</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <a class="nav-link"  [routerLink]="['dashboard']">Menu</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()">
            <p style="color:white" ><strong>Bienvenido {{user.nombre}}</strong></p>
          </li>
        </ul>
    </div>
</nav>
