<div class="jumbotron text-center">
  <h1>Bienvenidos a Restaurapp</h1>
  <p class="lead">
    Descubre nuevos restaurantes dentro de la CDMX , incluso podras realizar reservaciones
  </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['register']">Registrate</a>
    <a class="btn btn-primary" [routerLink]="['login']">Entra</a>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <h3>bblblblblb</h3>
    <p>meemememememememem</p>
  </div>
  <div class="col-md-4">
    <h3>bblblblblb</h3>
    <p>meemememememememem</p>
  </div>
  <div class="col-md-4">
    <h3>bblblblblb</h3>
    <p>meemememememememem</p>
  </div>
</div>
