.container
{
  position: absolute;
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  left: 430px;
  top: 250px;
}

#baner1
{
  text-align: center;
  margin-left: 590px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
.jumbotron
{
  padding: inherit;
  margin-top: 50px;
}
